.header{
    width: 100%;
	background: url(../img/bg-screen-1.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
}
.logo{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	color: #fff;
    text-decoration: none;
    font-size: 1.6em;
}
.container_header{
	width: 1140px;
	margin: 0 auto;
}
.logo-block{
	display: inline-block;
}
.header-top{
	padding-top: 37px;
}

////////////////// screen_1 /////////////////////
.screen_1{
	color: #fff; 
}
.screen_1_title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 3em;
    text-transform: uppercase;
}
.screen_1_subtitle{
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 400;
    font-size: 1.25em;
    margin-top: 13px
}
.screen_1_text{
	position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    width: 100%;
}
.screen_1_button{
	text-transform: uppercase;
	color: #fff;
	padding: 18px 33px;
	background: transparent;
	border: 2px solid #fff;
	display: inline-block;
	margin-top: 54px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	&:hover{
		border: 2px solid transparent;
		background: #fff;
		color: #555555;
		transition: all 0.2s ease-out;
	}
}

////////////////// screen_1 /////////////////////
